.is-hidden {
  display: none;
}
.container {
  display: flex;
  justify-content: center;

  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  background-color: burlywood;
}

.search-form > button {
  margin-left: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.photo-card {
  border: 1px solid burlywood;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.load-more {
  margin-bottom: 15px;
  margin-top: 15px;
}
